<md-dialog aria-label="Edit Vehicle">
    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Vehicle</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="navigation:cancel"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>Vehicle registration number</label>
                    <input type="text" />
                </md-input-container>

                <md-input-container class="md-block">
                    <md-checkbox class="md-primary">Set as default vehicle</md-checkbox>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="message()">Update</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>