@spa-background-color: lightgrey;

.spaBody {
    background-color: @spa-background-color;
}

/* index.html container */
.container {
}

.viewColStyle {
    padding: 50px 50px;
}

/* to center the "don't have a password?" in login.html */
.createAccStyle {
    
}





/* start.html styling */
/*.boxes {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: thin solid;
    padding: 20px;
    margin-bottom: 30px;
}

.trip { background-color: lightcoral; }
.registerTrip { background-color: lightblue; }
.rapport { background-color: lightgreen; }
.manageTrip { background-color: lightcyan; }
.support { background-color: lightsalmon; }*/



