@spa-background-color: lightgrey;

.spaBody {
    background-color: @spa-background-color;
}

/* index.html container */
.container {
}

.viewColStyle {
    padding: 50px 50px;
}

/* style to center text */
.centerStyle {
    text-align: center;
}

/* style in myTrips.html */
.tripInProgressDiv {
    border: solid thin;
    padding: 10px;
}




/* style for the AngularJs Material forms */
md-input-container > p {

}

md-content {
    border-radius: 5px;
    
}







/* start.html styling */
/*.boxes {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: thin solid;
    padding: 20px;
    margin-bottom: 30px;
}

.trip { background-color: lightcoral; }
.registerTrip { background-color: lightblue; }
.rapport { background-color: lightgreen; }
.manageTrip { background-color: lightcyan; }
.support { background-color: lightsalmon; }*/



