.spaBody {
  background-color: lightgrey;
}
/* index.html container */
.viewColStyle {
  padding: 50px 50px;
}
/* start.html styling */
/*.boxes {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: thin solid;
    padding: 20px;
    margin-bottom: 30px;
}

.trip { background-color: lightcoral; }
.registerTrip { background-color: lightblue; }
.rapport { background-color: lightgreen; }
.manageTrip { background-color: lightcyan; }
.support { background-color: lightsalmon; }*/