<div layout="column" ng-cloak>

    <h1 class="centerStyle">Welcome to Journey</h1><br />

    <md-content layout-padding>
        <form id="loginForm">


            <md-input-container class="md-block">
                <!-- Hidden login form 'counter' -->
                <!--<input type="hidden" name="loginId" value="0" /><br />-->
                <!--<div ng-show="test==5">Detta ska synas</div>-->

                <label>Username:</label>
                <!-- insert ng-icon here... -->
                <input type="email" name="username" required /><br />

                <!-- have ng-messages div here for input errors... -->
            </md-input-container>


            <md-input-container class="md-block">
                <label>Password:</label>
                <input type="password" name="inputPassword" required />

                <!-- have ng-messages div here for input errors... -->
            </md-input-container>

            <div>
                <!-- need to check that user has account in database and the password matches -->
                <md-button type="submit" id="loginButton" ng-click="go('/start')">Login</md-button><br />
            </div>

            <small><a>Forgot Password?</a></small>


        </form>
    </md-content>

    <div class="centerStyle">
        <br />
        <p><b>Don't have an account?</b></p>
        <button type="button" id="createNewAccountButton" class="btn btn-info btn-sm" ng-click="go('/createNewAccount')">Create new account</button>
    </div>


</div>







<!--oninvalid="this.setCustomValidity('Please enter username in e-mail format.')"-->
<!--<span ng-show="loginForm.inputEmail.$valid">{{emailErrorMessage}}</span>-->
