<div>

    <h3 class="centerStyle"><b>Register A New Trip:</b></h3>

    <form id="registerNewTripForm">
        <div class="form-group">

            <!-- Hidden registerNewTrip form 'counter' -->
            <!--<input type="hidden" name="registerNewTripId" value="0" /><br />-->

            <!-- this name="licensePlateNumber" needs to be connected to the select-box in report.html... -->
            <select class="form-control" name="licensePlateNumber">
                <option value="chooseVehicle">Choose Vehicle</option>
                <option value="TEST123">TEST123</option>
                <option value="TEST234">TEST234</option>
                <option value="TEST345">TEST345</option>
            </select><br />

            <label><b>Date:</b></label><!-- add the AngularJs datepicker directive here??? -->
            <br /><br />

            <input type="text" placeholder="Kilometer Reading (start)" class="form-control" value=""
                   name="kilometerReadingStart" required /><br />

            <input type="text" placeholder="Kilometer Reading (stop)" class="form-control" value=""
                   name="kilometerReadingStop" required /><br />

            <input type="text" placeholder="Total Trip Length (km)" class="form-control" value=""
                   name="totalTripLength" required /><br />

            <input type="text" placeholder="Start Address" class="form-control" value=""
                   name="startAddress" required /><br />

            <input type="text" placeholder="Destination Address" class="form-control" value=""
                   name="destinationAddress" required /><br />

            <label><b>Errand:</b></label>
            <textarea class="form-control" rows="4" value="" name="errand" required></textarea><br />

            <label><b>Notes:</b>&nbsp;<small>(optional)</small></label>
            <textarea class="form-control" rows="3" value="" name="notes"></textarea><br /><br />

            <button type="submit" id="registerNewTripButton" class="btn btn-primary btn-block"
                    ng-click="go('/start')">
                Save
            </button><br />

        </div>
    </form>

    <br /><br />
    <button type="button" class="btn btn-warning btn-sm" ng-click="go('/start')">Back to Start Page</button>

</div>