<div ng-include="'navigationToolbar.html'"></div>

<div ng-cloak class="withToolbarViewStyle">

    <h3 class="centerStyle">Report</h3><br />

    <md-content md-whiteframe="20" layout-padding>

        <md-input-container class="md-block">
            <label>Choose Vehicle</label>
            <md-icon md-svg-icon="maps:directions_car"></md-icon>
            <!-- work here to get it to work and to understand it -->
            <md-select ng-model="selectVehicle">
                <md-option ng-repeat="vehicle in vehicles">{{vehicles[0]}}</md-option>
            </md-select>
        </md-input-container>

        <div layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column">
                <div>
                    <label style="color: grey;">From:</label>
                    <md-datepicker ng-model="fromDateValue" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
            <div flex-xs flex-gt-xs="50" layout="column">
                <div>
                    <label style="color: grey;">To:</label>
                    <md-datepicker ng-model="toDateValue" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
        </div>


        <!-- insert doughnut and line-graph here -->
        <br /><br />

        <div class="centerStyle">
            <md-button type="submit" class="md-raised md-primary">Create&nbsp;&nbsp;<md-icon md-svg-icon="pdf:pdf_lg"></md-icon></md-button>
        </div>
    </md-content>


    <br />
    <md-button type="button" class="md-primary" ng-click="go('/start')">Back to Start Page</md-button>
</div>