<div ng-cloak>

    <div class="centerStyle">
        <md-button id="myTripsButton" class="md-primary md-raised" ng-click="go('/myTrips')">My Trips</md-button><br />

        <md-button id="registerNewTripButton" class="md-primary md-raised" ng-click="go('/registerNewTrip')">Register New Trip</md-button><br />

        <md-button id="reportButton" class="md-primary md-raised" ng-click="go('/report')">Report</md-button><br />

        <md-button id="manageVehiclesButton" class="md-primary md-raised" ng-click="go('/manageVehicles')">Manage Vehicles</md-button><br />

        <md-button id="supportButton" class="md-primary md-raised" ng-click="go('/support')">Support</md-button><br /><br /><br />

        <md-button id="logoutButton" class="md-raised" ng-click="go('/login')">Logout</md-button>
    </div>

</div>


