<div ng-include="'navigationToolbar.html'"></div>


<div ng-cloak class="withToolbarViewStyle">

    <md-card md-theme="dark-grey" md-whiteframe="20">
        <md-card-title layout-align="center center">
            <md-button><md-card-title-text class="md-headline">My Trips</md-card-title-text></md-button>
        </md-card-title>
    </md-card>

    <md-card md-theme="dark-grey" md-whiteframe="20">
        <md-card-title layout-align="center center">
            <md-button><md-card-title-text class="md-headline">Register New Trip</md-card-title-text></md-button>
        </md-card-title>
    </md-card>

    <md-card md-theme="dark-grey" md-whiteframe="20">
        <md-card-title layout-align="center center">
            <md-button><md-card-title-text class="md-headline">Report</md-card-title-text></md-button>
        </md-card-title>
    </md-card>

    <md-card md-theme="dark-grey" md-whiteframe="20">
        <md-card-title layout-align="center center">
            <md-button><md-card-title-text class="md-headline">Manage Vehicles</md-card-title-text></md-button>
        </md-card-title>
    </md-card>

    <md-card md-theme="dark-grey" md-whiteframe="20">
        <md-card-title layout-align="center center">
            <md-button><md-card-title-text class="md-headline">Support</md-card-title-text></md-button>
        </md-card-title>
    </md-card>

    <md-card md-whiteframe="20">
        <md-card-title layout-align="center center">
            <md-button><md-card-title-text class="md-headline">Logout</md-card-title-text></md-button>
        </md-card-title>
    </md-card>

</div>

<!--<div class="centerStyle">
    <md-button id="myTripsButton" class="md-primary md-raised" ng-click="go('/myTrips')">My Trips</md-button><br />

    <md-button id="registerNewTripButton" class="md-primary md-raised" ng-click="go('/registerNewTrip')">Register New Trip</md-button><br />

    <md-button id="reportButton" class="md-primary md-raised" ng-click="go('/report')">Report</md-button><br />

    <md-button id="manageVehiclesButton" class="md-primary md-raised" ng-click="go('/manageVehicles')">Manage Vehicles</md-button><br />

    <md-button id="supportButton" class="md-primary md-raised" ng-click="go('/support')">Support</md-button><br /><br /><br />

    <md-button id="logoutButton" class="md-raised" ng-click="go('/login')">Logout</md-button>
</div>-->
