.spaBody {
    background-color: lightskyblue;
}

.loginControllerStyle {
    /*margin: 100px;*/
    position: absolute;
}

/*heading div that holds the loginForm div*/
.loginHeadingStyle {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginFormStyle {
    text-align: left;
    margin: 20px 20px;
    border: 1px solid;
    border-radius: 25px;
    padding: 20px;
    /*position: relative;*/
}
