<div ng-include="'navigationToolbar.html'"></div>

<div ng-cloak class="withToolbarViewStyle">

    <h3 class="centerStyle">Support</h3><br />



    
    <md-content md-whiteframe="20" layout-padding>


        <!--<input type="hidden" id="displayname" />-->
        <!--<div id="discussion"></div>-->

        <!--<div ng-repeat="message in messages">-->
            <input type="hidden" id="displayname" />
            <p id="discussion"></p>
            
        <!--</div>-->



        <br /><br />
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container layout layout-align="center">
                <div layout="row" flex>
                    <div flex class="md-icon-float">
                        <label></label>
                        <input type="text" id="message">
                    </div>
                        <md-button type="button" class="md-fab md-mini md-raised" ng-click="sendMessage()">
                            <md-icon md-svg-icon="content:send"></md-icon>
                        </md-button>
                </div>
            </md-input-container>
        </md-content>



    </md-content>




    <br />
    <md-button type="button" class="md-primary" ng-click="go('/start')">Back to Start Page</md-button>
</div>
